extends layout

block content
  div.intro
    h1= title
  div.intro-text
    p Welcome to #{title}. An app to manage your reading list.

  div.form 
    form#popup(style="display:none")
      input.form-element(type="text" id="title" name= "title"  placeholder="Book Title")
      br
      input.form-element(type="text" id="author" name= "author"  placeholder="Book Author")
      br
      input.form-element(type="number" id="pages" name= "pages" min="1" default="10")
      label(for="pages") Pages
      br
      label(for="read") Read status:
      select.form-element( id="read" name= "read")
        option(value="read") Read
        option(value="unread" selected) Unread
      br
      input#submit-button(type="submit" value="Add Book") 

  div.sidebar
    button#new-book Toggle New Book Form
    //- hr
    //- button#sample Reset Library to Sample Data

  div.container



